<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${user.nickname} + ' | Yelt'"></title>
    <link rel="SHORTCUT ICON" href="../../resources/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="../../css/header.css">
    <link rel="stylesheet" type="text/css" href="../../css/footer.css">
    <link rel="stylesheet" type="text/css" href="../../css/user/user.css">

    <script src="https://kit.fontawesome.com/a12f7fab33.js" crossorigin="anonymous"></script>
    <script src="../../js/lib/jquery.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/user/user.js"></script>
    <script></script>
</head>
<body>
<header th:insert="fragments/Header :: header"></header>
<div class="head_block">
    <div class="bg_image">
        <div class="head_container">
            <div class="photo_container">
                <th:block th:if="${user.getAvatar() == null}">
                    <div class="photo"
                         style="background: url('../../resources/person.png'); background-size: 150px;"></div>
                </th:block>
                <th:block th:unless="${user.getAvatar() == null}">
                    <div class="photo"
                         th:style="'background: url(' + @{../../db/users/photos/{avatar}(avatar=${user.getAvatar()})} + '); background-size: 150px;'"></div>
                </th:block>
            </div>
            <div class="head_info_container">
                <div class="nickname_container">
                    <span class="nickname" th:text="${user.nickname}"></span>
                    <th:block sec:authorize="hasAuthority('ADMIN')">
                        <th:block th:if="${authenticated.getId() != user.getId()}">
                            <div class="active_action_block">
                                <th:block th:if="${user.isActive()}">
                                    <span class="block_user">Заблокировать</span>
                                </th:block>
                                <th:block th:unless="${user.isActive()}">
                                    <span class="unblock_user">Разблокировать</span>
                                </th:block>
                            </div>
                        </th:block>
                    </th:block>
                </div>
                <div class="head_activity_container">
                    <div class="activity_container">
                        <span class="activity" th:text="${avgRating}"></span>
                        <div class="activity_text">
                            Average
                            <br>
                            Movie Rating
                        </div>
                    </div>
                    <div class="activity_delimiter"></div>
                    <div class="activity_container">
                        <span class="activity" th:text="${userMovieService.getCountById(user.getId())}"></span>
                        <div class="activity_text">
                            Total
                            <br>
                            Ratings
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="und_head_container">
    <div class="selector">Overview</div>
</div>
<div class="main">
    <div class="stats">
        <h2>Stats</h2>
        <div class="stats_blocks">
            <div class="block">
                <div class="block_title">In watchlist</div>
                <div class="block_content">
                    <span class="total" th:text="${watchlistService.getCountByUid(user.getId())}"></span>
                </div>
            </div>
            <div class="block">
                <div class="block_title">Total Reviews</div>
                <div class="block_content">
                    <span class="total" th:text="${reviewCount}"></span>
                </div>
            </div>
            <div class="block">
                <div class="block_title">Rating Overview</div>
                <div class="block_content">
                    <div class="overview_block">
                        <div class="overview_container">
                            <th:block th:each="vote,iter : ${voteMapPercentage.keySet()}">
                                <div class="overview" th:attr="height=${voteMapPercentage.get(vote)}">
                                    <div class="popup">
                                        <span class="popup_text" th:text="${vote}"></span>
                                        <span class="popup_text"
                                              th:text="${voteMapCount.get(vote)} + ' ratings'"></span>
                                    </div>
                                </div>
                            </th:block>

                        </div>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="block_title">Most Watched Genres</div>
                <div class="block_content"></div>
            </div>
        </div>

    </div>
    <div class="recent_activity">
        <a th:href="@{/user/{login}/votes(login=${user.getLogin()})}" class="h_link">Votes</a>
        <th:block th:if="${latestVotes.size() > 0}">
            <div class="activity_container">
                <th:block th:each="vote,iter : ${latestVotes}">
                    <a th:href="@{/movie/{id}(id=${latestMovies.get(iter.index).id})}" class="vote">
                        <span class="vote_rating" th:text="${vote.getRating()} + '/10'"></span>
                        <img th:src="@{http://image.tmdb.org/t/p/w500{poster_path}(poster_path=${latestMovies.get(iter.index).poster_path})}"
                             width="150"
                             height="236"
                             onerror="this.src='../../resources/lost_poster.png'" class="movie_poster">
                        <span class="movie_name" th:text="${latestMovies.get(iter.index).title}"></span>
                    </a>
                </th:block>
            </div>
        </th:block>
    </div>

    <div class="recent_activity">
        <a th:href="@{/user/{login}/watchlater(login=${user.getLogin()})}" class="h_link">Watchlist</a>
        <th:block th:if="${watchlistService.getCountByUid(user.getId()) > 0}">
            <div class="activity_container">
                <th:block th:each="watchlist,iter : ${watchlistService.getWatchlistsByUserId(user.getId())}">
                    <th:block th:if="${iter.index < 7}">
                        <a th:href="@{/movie/{id}(id=${movieDetailsService.getMovieById(watchlist.getMid()).id})}" class="vote">
                            <img th:src="@{http://image.tmdb.org/t/p/w500{poster_path}(poster_path=${movieDetailsService.getMovieById(watchlist.getMid()).poster_path})}"
                                 width="150"
                                 height="236"
                                 onerror="this.src='../../resources/lost_poster.png'" class="movie_poster">
                            <span class="movie_name" th:text="${movieDetailsService.getMovieById(watchlist.getMid()).title}"></span>
                        </a>
                    </th:block>
                </th:block>
            </div>
        </th:block>
    </div>
</div>

<footer th:insert="fragments/Footer :: footer"></footer>
</body>
</html>