<div th:fragment="footer" class="f_container">
    <div class="contacts">
        <a href="#" class="contact vk"></a>
        <a href="#" class="contact facebook"></a>
        <a href="#" class="contact twitter"></a>
        <a href="#" class="contact telegram"></a>
        <a href="#" class="contact instagram"></a>
        <a href="#" class="contact youtube"></a>
    </div>
    <div class="content_links">
        <a href="#" class="content_link">Jobs</a>
        <a href="#" class="content_link">Advertising</a>
        <a href="#" class="content_link">Privacy Policy</a>
        <a href="#" class="content_link">Help</a>
        <a href="#" class="content_link">Research participation</a>
        <a href="#" class="content_link">Suggestions</a>
        <a href="#" class="content_link">Mobile version</a>
    </div>
    <div class="apps">
        <a href="#">
            <img src="../../resources/app_store.svg" width="150px" alt="error">
        </a>
        <a href="#">
            <img src="../../resources/google_play.svg" width="150px" alt="error">
        </a>
    </div>
    <div class="bottom_info">
        <span class="info_year">© 2019 – 2020,</span>
        <a href="/">Yelt</a>
        <span class="info_age">18+</span>
    </div>
</div>
