<div class="container" th:fragment="header">
    <div class="f">
        <a href="#" class="logo">Yelt</a>
    </div>
    <div class="s">
        <a href="#" class="watch_now">Watch now</a>
        <a href="#" class="enter_promo">Enter promo</a>
    </div>
    <div class="t">
        <form action="" method="get">
            <input name="s" placeholder="Search Yelt" type="search" class="search_input">
            <button type="submit" class="search_button"></button>
        </form>
    </div>
    <div class="fr">
        <a href="#" class="watchlist"> Wacthlist</a>
        <div class="profile">
            <ul class="submenu">
                <li><a href="">Category</a></li>
                <li><a href="">Author</a></li>
                <li><a href="">Archive</a></li>
                <li><a href="">Tags</a></li>
            </ul>
        </div>
    </div>
</div>
