<div class="container" th:fragment="header" xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
    <div class="f">
        <a href="/homepage" class="logo">Yelt</a>
    </div>
    <div class="t">
        <form action="/search" method="get" class="search_form">
            <input name="query" placeholder="Search Yelt" class="search_input">
            <ul class="search_result_container">
            </ul>
            <button type="submit" class="search_button"></button>
        </form>
    </div>
    <th:block sec:authorize="!isAuthenticated()">
        <div class="fr">
            <a href="/login" class="signin">Log in</a>
        </div>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <div class="fr_authorized">
            <a href="#" class="watchlist"> Wacthlist</a>
            <th:block th:if="${#authentication.getPrincipal().getUser().getAvatar() == null}">
                <div class="profile"
                     style="background: url('../../resources/person.png'); background-size: 45px;">
                    <ul class="submenu">
                        <li><a th:href="@{/user/{login}(login=${#authentication.getPrincipal().getUser().getLogin()})}">Profile</a></li>
                        <li><a th:href="@{/user/{login}/votes(login=${#authentication.getPrincipal().getUser().getLogin()})}">Votes</a></li>
                        <li><a href="">Watchlist</a></li>
                        <li><a href="">Favorite</a></li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </th:block>
            <th:block th:unless="${#authentication.getPrincipal().getUser().getAvatar() == null}">
                <div class="profile"
                     th:style="'background: url(' + @{../../db/users/photos/{avatar}(avatar=${#authentication.getPrincipal().getUser().getAvatar()})} + '); background-size: 45px;'">
                    <ul class="submenu">
                        <li><a th:href="@{/user/{login}(login=${#authentication.getPrincipal().getUser().getLogin()})}">Profile</a></li>
                        <li><a th:href="@{/user/{login}/votes(login=${#authentication.getPrincipal().getUser().getLogin()})}">Votes</a></li>
                        <li><a href="">Watchlist</a></li>
                        <li><a href="">Favorite</a></li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </th:block>

        </div>
</div>
</th:block>
</div>
</div>
