@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
  --cadet: #E1E2E2a0;
  --eggshell: #FFF;
  --terra_cotta: #F0803C;
  --charcoal: #3E4C5E;
  --maize: #F7C548;
  --orange_soda: #f85a3e;
  --smoky_black: #1D2228;
  --btn_hover: #ff7a29;
  --font_color_first: #546A76;
  --font_color_second: #3E4C5E;
}

body {
  background-color: var(--eggshell); 
  margin: 0; 
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

.link {
  color: var(--font_color_second);
}

.link:hover {
  color: var(--terra_cotta);
}

.main {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: auto auto 30px;
  padding-top: 120px;
}

.votes_header_block {
  width: 100%;
  background-color: var(--smoky_black);
  position: sticky;
  top: 60px;
}

.votes_header_container {
  width: 1150px;
  height: 115px;
  margin: auto;
  display: flex;
  align-items: center;
}

.link_container {
  display: flex;
}

.name_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.title {
  font-size: 2em;
  color: var(--eggshell);
  font-weight: 900;
}

.back_to_main {
  font-size: 1.1em;
  color: var(--eggshell);
  opacity: .6;
  font-weight: 500;
}

.votes_block {
  margin: auto;
  padding-top: 30px;
  width: 1220px;
  display: flex;

}

.votes_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.votes_title {
  font-size: 1.33em;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--font_color_second);
}

.people_credits {
  display: flex;
  padding-top: 5px;
  flex-direction: column;
}

.people_credit {
  display: flex;
  margin-bottom: 10px;
}

.people_photo {
  border-radius: 4px;
}

.people_movie_info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: center;
}

.name {
  color: var(--font_color_second);
  font-weight: 600;
}

.character {
  color: var(--font_color_second);
  font-weight: 400;
  font-size: .9em;
}

.count {
  font-size: .95em;
  font-weight: 400;
  color: var(--font_color_second);
  opacity: .6;
}

.department_container {
  margin-bottom: 20px;
}