@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --cadet: #E1E2E2a0;
    --eggshell: #FFF;
    /* --terra_cotta: #E07A5F; */
    --terra_cotta: #F0803C;
    --charcoal: #3E4C5E;
    --maize: #F7C548;
    --orange_soda: #f85a3e;
    --smoky_black: #1D2228;
    --btn_hover: #ff7a29;
    --font_color_first: #546A76;
    --font_color_second: #3E4C5E;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.main {
    height: 100%;
    width: 1150px;
    margin: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-top: 110px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.popular_container {
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
}

.movie {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.movie_poster {
    transition-duration: .2s;
    border-radius: 6px;
}

.movie:hover .movie_poster{
    transform: scale(1.02, 1.02);
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
}

.movie_title {
    font-size: .9em;
    text-align: center;
    color: var(--font_color_first);
    font-weight: 500;
    margin-top: 6px;
    margin-left: 2px;
    max-width: 140px;
}

.movie_date {
    font-size: .9em;
    text-align: center;
    color: var(--font_color_first);
    font-weight: 400;
    margin-top: 6px;
    opacity: .6;
    margin-left: 2px;
    max-width: 140px;
}

.block_title {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--charcoal);
}

.title_link::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    opacity: .3;
    color: var(--charcoal);
    font-size: .8em;
    margin-left: 10px;
}