@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --cadet: #E1E2E2a0;
    --eggshell: #FFF;
    /* --terra_cotta: #E07A5F; */
    --terra_cotta: #F0803C;
    --charcoal: #3E4C5E;
    --maize: #F7C548;
    --orange_soda: #f85a3e;
    --smoky_black: #1D2228;
    --btn_hover: #ff7a29;
    --font_color_first: #546A76;
    --font_color_second: #3E4C5E;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.main {
    height: 100%;
    width: 1150px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-top: 110px;
    flex-direction: column;
    margin: auto auto 40px;
    font-family: 'Roboto', sans-serif;
}

.content_container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.movie {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.movie_poster {
    transition-duration: .2s;
    border-radius: 6px;
}

.movie:hover .movie_poster{
    transform: scale(1.02, 1.02);
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
}

.movie_title {
    font-size: .9em;
    text-align: center;
    color: var(--font_color_first);
    font-weight: 500;
    margin-top: 6px;
    margin-left: 2px;
    max-width: 140px;
}

.movie_date {
    font-size: .9em;
    text-align: center;
    color: var(--font_color_first);
    font-weight: 400;
    margin-top: 6px;
    opacity: .6;
    margin-left: 2px;
    max-width: 140px;
}

.block_title {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--charcoal);
}

.title_link::after {
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    content: "\f054";
    opacity: .3;
    color: var(--charcoal);
    font-size: .8em;
    margin-left: 10px;
}

.content_block {
    width: 100%;
}

.review {
    height: 270px;
    display: flex;
    transition-duration: .2s;
    width: 250px;
}

.review_bg {
    background: #ff9185;
    width: 100%;
    height: 100%;
    background: url("../resources/lost_poster.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -55px;
    border-radius: 6px;
}

.review_link {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.user_name_container {
    background: rgba(29, 34, 40, 0.8);
    width: 100%;
    height: 25px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 6px 6px 0px 0px;
    font-weight: 500;
}

.movie {
    font-size: 1em;
    text-align: center;
    color: var(--font_color_first);
    font-weight: 500;
    margin: 6px auto auto;
}

.review_text_container {
    background: rgba(117, 117, 117, 0.8);
    font-size: .96em;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 0px 0px 6px 6px;
    overflow: hidden;
    max-height: 76px;
    transition-duration: .2s;
}

.review_bg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition-duration: .2s;
}

.review:hover .review_bg{
    /*transform: scale(1.02);*/
    width: 256px;
    height: 276px;
    transform: translate(-3px, -3px);
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.15);
}

.review:hover .review_bg .review_text_container {
    padding: 0px 3px 0px 3px;
}