@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 940px;
}

:root {
    --cadet: #E1E2E2a0;
    --eggshell: #FFF;
    --terra_cotta: #F0803C;
    --charcoal: #3E4C5E;
    --maize: #F7C548;
    --orange_soda: #f85a3e;
    --smoky_black: #1D2228;
    --btn_hover: #ff7a29;
    --font_color_first: #546A76;
    --font_color_second: #3E4C5E;
}
.main-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lr_form {
    border-radius: 3px;
    position: relative;
    z-index: 1;
    background: #1D2228;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.data_input {
    outline: 0;
    background: #fff;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px;
    color: #546a76;
}
.submit {
    text-transform: uppercase;
    outline: 0;
    background: #fff;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #546a76;
    font-size: 14px;
    transition: all .2s ease;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
}
.submit:hover,.lr_form button:active,.lr_form button:focus {
    background: #F0803C;
    color: #fff;
}
.lr_form .message {
    margin: 15px 0 0;
    color: #fff;
    font-size: 12px;
}
.lr_form .message a {
    color: #F0803C;
    text-decoration: none;
}

.lr_container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.lr_container:before, .lr_container:after {
    content: "";
    display: block;
    clear: both;
}
.lr_container .info {
    margin: 50px auto;
    text-align: center;
}
.lr_container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.lr_container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.lr_container .info span a {
    color: #000000;
    text-decoration: none;
}
.lr_container .info span .fa {
    color: #EF3B3A;
}
.error {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 10px;
    margin: auto;
    color: #F85A3E;
    width: 100%;
}